.SideBarIndex{
    /* position :fixed; */
    float:left;
    background-color:wheat;
    width:15%;
}

.SideBarIndex li{
    list-style: none;

}

.SideBarIndex li a{
    text-decoration: none;
    color:darkblue;
    font-weight: bolder;
    font-size:25px;
}