.DNBStyle p{
    margin-left:10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.DNBStyle li{
    font-size: 20px;
    margin-top:10px;
}
.DNBStyle li:nth-child(odd){
    color:black;
}
.DNBStyle li:nth-child(even){
    color:grey;
}

.DNBStyle img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}